* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    font-family: sans-serif;
    max-width: 960px;
    margin: 0 auto;
    
}

.quiz__header {
    
    text-align: center;
    padding-top: 1rem;
}

.quiz__title {
    padding-top: 1rem;
}

.quiz__tagline {
    padding-top: 1rem;
}

.quiz__tracker {
    padding-top: 1rem;
}

.progress__bar__background {
    background-color: rgb(216, 213, 213);
    width: 400px;
    margin: 2rem auto;
    border-radius: 4px;
}

.progress__bar {
    height: 15px;
    background-color: black;
    width: 0%;
    border-radius: 4px;
    border-right: 2px solid black;
}

.quiz__ul__options {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1rem;
}

.quiz__answer__option {
    margin: .3rem;
    background-color: rgb(209, 206, 206);
    width: 400px;
    
}

.quiz__label {
    padding: 2rem 2rem;
    display: flex;
    align-items: center;
}

.quiz__ul__options input {
    opacity: 0;
}

.quiz__ul__options input:checked + label {
    border-bottom: 4px solid orange;
}

.quiz__ul__options input:checked + label i {
    background-image: url('images/check-circle-solid.svg');
}

.quiz__ul__options label i {
    background: url('images/circle-regular.svg');
    background-size: 40px;
    width: 40px;
    height: 40px;
    margin-right: 15px;

}

.button__section {
    text-align: center;
    margin: 1rem auto;
}

button {
    border-radius: 5px;
    font-size: 1.1rem;
    font-family: sans-serif;
    font-weight: 500;
    padding: 1rem;
    text-transform: uppercase;
    border: 1px solid #eee;
    outline: 0;
    opacity: 0.9;
    font-weight: bold;
    transition: 0.3s all ease;
    margin: 0 auto;

}

.submit:hover {
    background-color: #282a39;
    color: white;
    opacity: 1;
}

.submit {
    padding-bottom: 2rem;
    text-align: center; 
    width: 400px;
    height: 40px;
    display: block;
}

.restart {
    display: block;
    padding-bottom: 2rem;
    opacity: 0;
    height: 40px;
    width: 400px;
    text-align: center;
}